@using risersoft.shared.web.Extensions
@using Newtonsoft.Json
@using risersoft.app.mxform.trust
@using Syncfusion.EJ2

@model frmCourtHearingModel
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = JsonConvert.SerializeObject(Model, Formatting.Indented,
                            new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml, NullValueHandling = NullValueHandling.Ignore });
}

<link href="~/Content/custom-calander.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jQueryUI-datetimepicker.js"></script>

<script type="text/javascript">
    var defaultRTE; var defaultRTEFN;
    function createdfn() {
        defaultRTEFN = this;
        this.insertImageSettings = {
            saveFormat: "Base64"
        };
    };

    function createfn() {
        defaultRTE = this;
        this.insertImageSettings = {
            saveFormat: "Base64"
        };
    };
</script>
<style type="text/css">
    .e-rte-tb-expand {
        z-index: 9;
    }
</style>

<div Class="container cbackground">
    <form action="" method="post" name="userform" id="userform" ng-controller="FormController">
        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        @Html.AntiForgeryToken()
        <!-- Start Page Heading Section -->
        <div class="row">
            <div class="col-md-10">
                <label class="control-label"></label>
                <h5 style="color:#1c66a7">{{title}} Court Hearing</h5>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <!-- End Page Heading Section -->
        <!-- Start Page Content -->
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Court Case No.</label>
                <div class="input-group">
                    <input type="text" name="courtCaseNo" ng-model="courtHearingInfo.CaseNumber" class="form-control" disabled style="max-width:100%" />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Court Name<span class="red">*</span></label>
                <input type="text" name="courtCaseName" ng-model="courtHearingInfo.CourtName" class="form-control" disabled style="max-width:100%" />
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Dated<span class="red">*</span></label>
                <div class="input-group">
                    <input type="text" id="dated" name="dated" ng-model="courtInfo.Dated" class="form-control admnDate" style="max-width:100%" aria-describedby="basic-addon1" required ng-class="{true: 'error'}[submitted() && userform.courtDate.$invalid]" />
                    <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 135px; z-index:9">
                        <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                    <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 115px;z-index:9;" id="dateclean">
                        <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Current Date</label>
                <div class="input-group">
                    <input type="text" id="currentdate" name="currentdate" ng-model="courtInfo.CurrentDate" class="form-control admnDate" style="max-width:100%" aria-describedby="basic-addon1" />
                    <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 135px; z-index:9">
                        <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                    <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 115px;z-index:9;" id="dateclean1">
                        <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Next Hearing Date</label>
                <div class="input-group">
                    <input type="text" id="nexthearingdate" name="nexthearingdate" ng-model="courtInfo.NextHearingDate" class="form-control admnDate" style="max-width:100%" aria-describedby="basic-addon1" />
                    <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 135px; z-index:9">
                        <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                    <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 115px;z-index:9;" id="dateclean2">
                        <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12"><p class="text-light bg-primary" style="color:#027fbd"><span style="padding:10px;">Current Status</span></p></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="control-section">
                    <div class="control-wrapper">
                        <div class="control-section">
                            @Html.EJS().RichTextEditor("defaultRTEFN").Value("").Created("createdfn").Render()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12"><p class="text-light bg-primary" style="color:#027fbd"><span style="padding:10px;">Next Hearing Purpose</span></p></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="control-section">
                    <div class="control-wrapper">
                        <div class="control-section">
                            @Html.EJS().RichTextEditor("defaultRTE").Value("").Created("createfn").Render()
                        </div>
                    </div>
                </div>
                @Html.EJS().ScriptManager()
            </div>
        </div>
        <!-- End Page Content-->
        <hr />
        @Html.Partial("_SavePanel")
    </form>
</div>

@section botscripts{
    <script type="text/javascript">
        rsApp.controller('FormController', function ($scope, $http, usSpinnerService) {
            $(function () {
                $(".admnDate").datetimepicker({
                    format: 'Y/m/d',
                    timepicker: false,
                }).attr('readonly', 'readonly');

                $('#dateclean').on('click', function () {
                    $('#dated').val('');
                });

                $('#dateclean1').on('click', function () {
                    $('#currentdate').val('');
                });

                $('#dateclean2').on('click', function () {
                    $('#nexthearingdate').val('');
                });
            });

            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';

            var loadmodel = function (result) {
                $scope.model = result;
                //Set Page Heading
                $scope.title = ($scope.model.frmMode == 2 ? "Add" : $scope.model.frmMode == 1 ? "Edit" : "");
                //Show Hide Delete Buttons
                $scope.visdel = ($scope.model.frmMode == 2 ? false : true);
                //courtInfo
                $scope.courtInfo = $scope.model.dsForm.DT[0];
                //Date Formar
                $scope.courtInfo.Dated = $scope.courtInfo.Dated == undefined ? "" : new moment($scope.courtInfo.Dated).format("YYYY-MM-D");
                $scope.courtInfo.CurrentDate = $scope.courtInfo.CurrentDate == undefined ? "" : new moment($scope.courtInfo.CurrentDate).format("YYYY-MM-D");
                $scope.courtInfo.NextHearingDate = $scope.courtInfo.NextHearingDate == undefined ? "" : new moment($scope.courtInfo.NextHearingDate).format("YYYY-MM-D");
                //court Case Hearing Info
                $scope.courtHearingInfo = $scope.model.DatasetCollection.CC.CourtCase[0];
                //Bind Dropdown
                $scope.dsCombo = $scope.model.dsCombo;
                //Bind HTML Message
                defaultRTEFN.value = $scope.courtInfo.CurrentSatusHTML == undefined ? "" : $scope.courtInfo.CurrentSatusHTML;
                defaultRTE.value = $scope.courtInfo.NextHearingPurposeHTML == undefined ? "" : $scope.courtInfo.NextHearingPurposeHTML;
                //Set Dropdown values
                @Html.RenderLookup("courtInfo", Model, Model.dsForm.Tables[0]);
            }

            loadmodel($scope.model);

            $scope.calculatemodel = function () {
                //Current Satus HTML
                $scope.model.dsForm.DT[0].CurrentSatusHTML = base64EncodeUnicode(defaultRTEFN.getHtml());
                $scope.model.dsForm.DT[0].CurrentSatusText = base64EncodeUnicode(defaultRTEFN.getText());
                //Next Hearing Purpose Text
                $scope.model.dsForm.DT[0].NextHearingPurposeHTML = base64EncodeUnicode(defaultRTE.getHtml());
                $scope.model.dsForm.DT[0].NextHearingPurposeText = base64EncodeUnicode(defaultRTE.getText());
            }

            $scope.cleanupmodel = function (datamodel) {
                datamodel.DatasetCollection.CC.CourtCase[0].CourtCaseHTML = null;
                datamodel.DatasetCollection.CC.CourtCase[0].CourtCaseText = null;
            }

            @Html.RenderFile("~/scripts/rsforms.js");
        });
    </script>
}