@using risersoft.shared.web.Extensions
@using Newtonsoft.Json
@using risersoft.app.mxform.trust;

@model frmNonStuPersonModel
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = JsonConvert.SerializeObject(Model, Formatting.Indented,
                            new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml, NullValueHandling = NullValueHandling.Ignore });
}

<link href="~/Content/custom-calander.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jQueryUI-datetimepicker.js"></script>

<div Class="container cbackground">
    <form action="" method="post" name="userform" id="userform" ng-controller="FormController">
        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <input type="hidden" id="fileStatus" />
        @Html.AntiForgeryToken()

        <!-- Start Page Heading Section -->
        <div class="row">
            <div class="col-md-10">
                <label class="control-label"></label>
                <h5 style="color:#1c66a7">{{title}} Person</h5>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- End Page Heading Section -->
        <!-- Start Page Content -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Sal</label>
                <input type="text" class="form-control" style="max-width:100%" name="sel" ng-model="StudentInfo.Salutation" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">First Name<span class="red">*</span></label>
                <input type="text" class="form-control" style="max-width:100%" name="firstname" ng-model="StudentInfo.FirstName" required ng-class="{true: 'error'}[submitted() && userform.firstname.$invalid]" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Middle name</label>
                <input type="text" class="form-control" style="max-width:100%" name="middlename" ng-model="StudentInfo.MidName" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Last Name</label>
                <input type="text" class="form-control" style="max-width:100%" name="lastname" ng-model="StudentInfo.LastName" />
            </div>
        </div>

        <div class="form-row">
            <div class="container my-12">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="basicInfo">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#Basic" aria-expanded="true"
                               aria-controls="Basic">
                                <h5 class="mb-0">
                                    BASIC <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="Basic" class="collapse show" role="tabpanel" aria-labelledby="basicInfo"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Trust</label>
                                        <select name="campus" ng-model="StudentInfo.CompanyidSelected" ng-options="comp.CompName for comp in dsCombo.Company track by comp.CompName" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Gender<span class="red">*</span></label>
                                        <select name="isfemale" ng-model="StudentInfo.IsFemaleSelected" ng-options="gen.DisplayText for gen in ValueLists.IsFemale.ValueListItems track by gen.DisplayText" Class="form-control" style="max-width:100%" required ng-class="{true: 'error'}[submitted() && userform.isfemale.$invalid]"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Designation<span class="red">*</span></label>
                                        <input name="designation" list="designationList" ng-model="StudentInfo.Desig" Class="form-control" style="max-width:100%" required ng-class="{true: 'error'}[submitted() && userform.designation.$invalid]" />
                                        <datalist id="designationList"></datalist>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Occupation</label>
                                        <input type="text" class="form-control" style="max-width:100%" name="occupation" ng-model="StudentInfo.Occupation" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Qualification</label>
                                        <input type="text" class="form-control" style="max-width:100%" name="topqual" ng-model="StudentInfo.TopQual" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Email Address</label>
                                        <input type="text" class="form-control" style="max-width:100%" name="email" ng-model="StudentInfo.Email" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Contact Number</label>
                                        <input type="text" class="form-control numeric" style="max-width:100%" name="cellnumber" maxlength="10" ng-model="StudentInfo.CellNum" />
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="inputEmail4">Address</label>
                                        <input type="text" class="form-control" style="max-width:100%" name="sel" ng-model="StudentInfo.PrAddress" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="EducationInfo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#education"
                               aria-expanded="false" aria-controls="education">
                                <h5 class="mb-0">
                                    Education <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="education" class="collapse" role="tabpanel" aria-labelledby="EducationInfo"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-11">
                                        <table id="tblEducationMember" class="table table-sm" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Qualification</th>
                                                    <th>Institution</th>
                                                    <th>Board</th>
                                                    <th>Passing Year</th>
                                                    <th>Marks Obtained</th>
                                                    <th>Percentage</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="edu in education" ng-show="education.length > 0">
                                                    <td>{{$index + 1}}.</td>
                                                    <td><input type="text" class="form-control" ng-model="edu.Qualification" /></td>
                                                    <td><input type="text" class="form-control" ng-model="edu.Institution" /></td>
                                                    <td><input type="text" class="form-control" ng-model="edu.Board" /></td>
                                                    <td><input type="text" class="form-control numeric" ng-model="edu.YearQual" /></td>
                                                    <td><input type="text" class="form-control" ng-model="edu.Marks" /></td>
                                                    <td><input type="text" class="form-control" ng-model="edu.PerMarks" /></td>
                                                    <td><a href="javascript:void(0)" ng-click="deleteEducationRow($index)"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                <tr ng-show="!education.length">
                                                    <td colspan="7" style="text-align:center;font-size: 20px;">No Records Found...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <div style="float:right; margin-bottom:5px;">
                                            <button type="button" id="btnAddNew" Class="btn btn-default btnf" ng-click="addEducationInfo(education.length)"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="AddressInfo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#Address"
                               aria-expanded="false" aria-controls="Address">
                                <h5 class="mb-0">
                                    Department <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="Address" class="collapse" role="tabpanel" aria-labelledby="AddressInfo"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Department</label>
                                        <select name="campus" ng-model="StudentInfo.DeptIDSelected" ng-options="dep.deptname for dep in dsCombo.dept track by dep.deptname" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Facility Mode<span class="red" ng-if="StudentInfo.DeptIDSelected!=null">*</span></label>
                                        <select name="campus" ng-model="StudentInfo.FmodeSelected" ng-options="fm.DisplayText for fm in ValueLists.Fmode.ValueListItems track by fm.DisplayText" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Rank</label>
                                        <select name="campus" ng-model="StudentInfo.DeptRankSelected" ng-options="r.DisplayText for r in ValueLists.Rank.ValueListItems track by r.DisplayText" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Start Date</label>
                                        <div class="input-group">
                                            <input type="text" id="Sdate" ng-model="StudentInfo.Sdate" class="form-control admnDate" aria-describedby="basic-addon1" style="max-width:100%" />
                                            <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 450px; z-index:9">
                                                <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                                            </label>
                                            <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 430px;z-index:9;" id="dateclean">
                                                <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">End Date</label>
                                        <div class="input-group">
                                            <input type="text" id="Edate" ng-model="StudentInfo.Edate" class="form-control admnDate" style="max-width:100%" aria-describedby="basic-addon1" />
                                            <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 450px; z-index:9">
                                                <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                                            </label>
                                            <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 430px;z-index:9;" id="dateclean1">
                                                <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="Info">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#SInfo"
                               aria-expanded="false" aria-controls="SInfo">
                                <h5 class="mb-0">
                                    Non Teaching Staff <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="SInfo" class="collapse" role="tabpanel" aria-labelledby="Info"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Staff Mode</label>
                                        <select name="gender" ng-model="StudentInfo.StaffModeSelected" ng-options="sm.DisplayText for sm in ValueLists.StaffMode.ValueListItems track by sm.DisplayText" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Staff Department<span class="red" ng-if="StudentInfo.StaffModeSelected!=null">*</span></label>
                                        <select name="gender" ng-model="StudentInfo.StaffDeptSelected" ng-options="sd.DisplayText for sd in ValueLists.StaffDept.ValueListItems track by sd.DisplayText" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Staff Rank</label>
                                        <select name="campus" ng-model="StudentInfo.NonTechStaffRankSelected" ng-options="rnk.DisplayText for rnk in ValueLists.Rank.ValueListItems track by rnk.DisplayText" Class="form-control" style="max-width:100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="PictureInfo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#picture"
                               aria-expanded="false" aria-controls="picture">
                                <h5 class="mb-0">
                                    PICTURE <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="picture" class="collapse" role="tabpanel" aria-labelledby="PictureInfo"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-row" style="margin-top: 5px;">
                                    <div class="form-group col-md-2">
                                        <img ng-src="{{imageUrl}}" id="imgInp" alt="sample Image" style="width: 130px;">
                                    </div>
                                    <div class="form-group col-md-9">
                                        <label for="staticEmail" class="col-form-label" style="margin-left: 25px;">File</label>
                                        <input type="file" id="attach_filename" name="attach_filename" class="form-control" accept=".jpg, .jpeg, .png" autocomplete="off" style="max-width: 88%;margin-top: -35px;margin-left: 80px;">
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" id="btnAlumniPic" class="btn btn-default btnf" ng-click="UploadStudentPic()" style="margin-top:3px;">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
        <!-- End Page Content-->
        <hr />
        @Html.Partial("_SavePanel")
    </form>
</div>

@section botscripts{
    <script type="text/javascript">
        $(function () {
            $(".admnDate").datetimepicker({
                format: 'Y/m/d',
                timepicker: false,
            }).attr('readonly', 'readonly');

            $('#attach_filename').attr("accept", ".jpeg, .jpg, .png");

            $('#dateclean').on('click', function () {
                $('#Sdate').val('');
            });

            $('#dateclean1').on('click', function () {
                $('#Edate').val('');
            });
        });

        rsApp.controller('FormController', function ($scope, $http, usSpinnerService) {
            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';

            var loadmodel = function (result) {
                $scope.model = result;
                //Set Page Heading
                $scope.title = ($scope.model.frmMode == 2 ? "Add" : $scope.model.frmMode == 1 ? "Edit" : "");
                //Show Hide Delete Buttons
                $scope.visdel = ($scope.model.frmMode == 2 ? false : true);
                //set Student Model in scope
                $scope.StudentInfo = $scope.model.dsForm.DT[0];
                //Date Format
                $scope.StudentInfo.Sdate = $scope.StudentInfo.Sdate == undefined ? "" : new moment($scope.StudentInfo.Sdate).format("YYYY-MM-D");
                $scope.StudentInfo.Edate = $scope.StudentInfo.Edate == undefined ? "" : new moment($scope.StudentInfo.Edate).format("YYYY-MM-D");

                if (Array.isArray($scope.model.GridViews.Education.MainGrid.myDS.dt) && $scope.model.GridViews.Education.MainGrid.myDS.dt.length > 0) {
                    $scope.education = $scope.model.GridViews.Education.MainGrid.myDS.dt;
                } else {
                    $scope.education = [];
                }

                //BIND DROPDOWNS
                $scope.dsCombo = $scope.model.dsCombo;
                $scope.ValueLists = $scope.model.ValueLists;

                //Designation
                $("#designationList").empty();
                for (var i = 0; i < $scope.ValueLists.Desig.ValueListItems.length; i++) {
                    $("#designationList").append("<option value='" +
                        $scope.ValueLists.Desig.ValueListItems[i].DisplayText + "'></option>");
                }

                //Bind Initial Image
                if ($scope.StudentInfo.ImageUrl != undefined) {
                    $scope.url = '/frmNonStuPerson/ParamsOutput' + location.search;
                    $scope.payload = { serverPath: $scope.StudentInfo.ImageUrl, PersonID: $scope.StudentInfo.PersonID };
                    payload = JSON.stringify($scope.payload);
                    var payloaddata = { key: 'download', Params: payload, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };

                    $.post($scope.url, payloaddata, function (result) {
                        toDataURL(result.Data, function (dataUrl) {
                            $('#imgInp').attr('src', dataUrl);
                        });
                    });
                }
                else {
                    $scope.imageUrl = "/Content/Images/images.jpg";
                }

                @Html.RenderLookup("StudentInfo", Model, Model.dsForm.Tables[0]);
                //Assign Upload Files
                $scope.UploadFiles = [];
                //Bind Education Info
                $scope.Education = [];
            }

            loadmodel($scope.model);

            $scope.UploadStudentPic = function () {
                $scope.UploadUserFiles('frmNonStuPerson');
            }

            $scope.calculatemodel = function () {
                if (Array.isArray($scope.UploadFiles) && $scope.UploadFiles.length) {
                    $scope.model.dsForm.DT[0].ImageUrl = $scope.UploadFiles[0].blobname;
                }

                if (Array.isArray($scope.education) && $scope.education.length) {
                    $scope.model.GridViews.Education.MainGrid.myDS.dt = $scope.education;
                }
            }

            $scope.cleanupmodel = function (datamodel) {
                datamodel.dsForm.DT[0].DesigSelected = null;
            }

            //Delete Records
            $scope.GenerateDelPayload = function () {
                //Pass the EntityKey in lowercase
                var payload = { EntityKey: 'persons', ID: $scope.model.dsForm.DT[0].PersonID, AcceptWarning: false };
                return payload;
            };

            $scope.addEducationInfo = function () {
                var entry = {};
                $scope.education.push(entry);
            }

            $scope.deleteEducationRow = function (index) {
                $scope.education.splice(index, 1);
            }

            @Html.RenderFile("~/scripts/uploadFiles.js");
            @Html.RenderFile("~/scripts/rsforms.js");
        });
    </script>
}