@using risersoft.shared.web.Extensions;
@using Newtonsoft.Json;
@using risersoft.app.mxform.trust;
@using Syncfusion.EJ2;

@model frmRentModel
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = JsonConvert.SerializeObject(Model, Formatting.Indented,
                            new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml, NullValueHandling = NullValueHandling.Ignore });
}

<link href="~/Content/custom-calander.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jQueryUI-datetimepicker.js"></script>
<script type="text/javascript">
    var defaultRTE; var defaultRTEFN;
    function createdfn() {
        defaultRTEFN = this;
        this.insertImageSettings = {
            saveFormat: "Base64"
        };
    };
</script>
<style>
    .e-richtexteditor {
        z-index: 9;
    }
</style>

<div Class="container cbackground">
    <form action="" method="post" name="userform" id="userform" ng-controller="FormController">
        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <input type="hidden" id="fileStatus" />
        @Html.AntiForgeryToken()

        <!-- Start Page Heading Section -->
        <div class="row">
            <div class="col-md-10">
                <label class="control-label"></label>
                <h5 style="color:#1c66a7">{{title}} Rent</h5>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- End Page Heading Section -->

        <hr />
        <!-- Start Page Content -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Property<span class="red">*</span></label>
                <select class="form-control" name="property" ng-model="rentInfo.PropertyIDSelected" disabled ng-options="ppty.ShopNo for ppty in dsCombo.Property track by ppty.PropertyID" style="min-width: 100%;" required ng-class="{true: 'error'}[submitted() && userform.property.$invalid]"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Party</label>
                <select class="form-control" name="party" ng-model="rentInfo.PartyIDSelected" ng-options="pty.PartyName for pty in dsCombo.Party track by pty.PartyID" style="min-width: 100%;"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Current</label>
                <select class="form-control" name="person" ng-model="rentInfo.IsCurrentSelected" ng-options="cur.DisplayText for cur in ValueLists.IsCurrent.ValueListItems track by cur.DataValue" style="min-width: 100%;"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Dated</label>
                <div class="input-group">
                    <input type="text" id="dated" name="dated" ng-model="rentInfo.Dated" class="form-control admnDate" style="max-width:100%" aria-describedby="basic-addon1" />
                    <label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 225px; z-index:9">
                        <span class="fa fa-calendar open-datetimepicker" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                    <label class="input-group-addon btn" for="close" style="position: absolute;margin-left: 205px;z-index:9;" id="dateclean">
                        <span class="fa fa-close" id="basic-addon1" style="cursor:pointer"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Amount Received</label>
                <input type="text" name="amtpaid" ng-model="rentInfo.AmountRcd" class="form-control" style="min-width: 100%;" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Monthly Rent</label>
                <input type="text" name="mnthRent" ng-model="rentInfo.MonthlyRent" class="form-control" style="min-width: 100%;" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Remark</label>
                <input type="text" name="remarks" ng-model="rentInfo.Remark" class="form-control" style="min-width: 100%;" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Rent Details</label>
                <div class="control-wrapper">
                    <div class="control-section">
                        @Html.EJS().RichTextEditor("defaultRTEFN").Value("").Created("createdfn").Render()
                    </div>
                </div>
                @Html.EJS().ScriptManager()
            </div>
        </div>
        <!-- End Page Content-->
        <hr />
        @Html.Partial("_SavePanel")
    </form>
</div>

@section botscripts{
    <script type="text/javascript">
        rsApp.controller('FormController', function ($scope, $http, usSpinnerService) {
            $(function () {
                $(".admnDate").datetimepicker({
                    format: 'Y/m/d',
                    timepicker: false,
                }).attr('readonly', 'readonly');

                $('#dateclean').on('click', function () {
                    $('#dated').val('');
                });
            });

            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';

            var loadmodel = function (result) {
                $scope.model = result;
                //Set Page Heading
                $scope.title = ($scope.model.frmMode == 2 ? "Add" : $scope.model.frmMode == 1 ? "Edit" : "");
                //Show Hide Delete Buttons
                $scope.visdel = ($scope.model.frmMode == 2 ? false : true);
                //PropertyInfo
                $scope.rentInfo = $scope.model.dsForm.DT[0];
                //Bind DropDowns
                $scope.dsCombo = $scope.model.dsCombo;
                $scope.ValueLists = $scope.model.ValueLists;
                //Date Format
                $scope.rentInfo.Dated = $scope.rentInfo.Dated == undefined ? "" : new moment($scope.rentInfo.Dated).format("YYYY-MM-D");
                //Bind HTML Message
                defaultRTEFN.value = $scope.rentInfo.RentHTML == undefined ? "" : $scope.rentInfo.RentHTML;
                //Set Dropdown values
                @Html.RenderLookup("rentInfo", Model, Model.dsForm.Tables[0]);
            }

            loadmodel($scope.model);

            $scope.calculatemodel = function () {
                $scope.model.dsForm.DT[0].RentHTML = base64EncodeUnicode(defaultRTEFN.getHtml());
                $scope.model.dsForm.DT[0].RentText = base64EncodeUnicode(defaultRTEFN.getText());
            }

            $scope.cleanupmodel = function (datamodel) { }

            //Delete Records
            $scope.GenerateDelPayload = function () {
                //Pass the EntityKey in lowercase
                var payload = { EntityKey: 'rent', ID: $scope.model.dsForm.DT[0].RentID, AcceptWarning: false };
                return payload;
            };

            @Html.RenderFile("~/scripts/rsforms.js");
        });
    </script>
}